<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Arty Widget</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Collect, share, and present code-based art on the web." />
    <meta name="keywords" content="art, programming" />
    <meta name="author" content="Pixfabrik, LLC" />
    {{ headExtra }}
    <link rel="stylesheet" type="text/css" href="/static/build/{{ moduleName }}.css">
  </head>
  <body>
    {{ mainContent }}
    <script src="/static/build/lib.js"></script>
    <script src="/static/build/{{ moduleName }}.min.js"></script>
    <script>
      App.fromServer = {{ forClient }};
    </script>

    <script id="nav-bar-template" type="text/template">
      <div class="nav-bar">
        <div class="left">
          <a href="/" class="site-logo">Arty Widget</a>
          <a href="/about/">about</a>
        </div>
        <div class="right">
          <% if (username) { %>
            <%- username %> <a href="/logout?redirect=<%- encodeURI(location.href) %>">log out</a>
          <% } else { %>
            <a href="/signup/">sign up</a> / <a href="/login/">log in</a>
          <% } %>
        </div>
      </div>
    </script>

  </body>
</html>
