<div class="home-page">
  <h1>Arty Widget</h1>
  <h2>Collect, share, and present code-based art on the web.</h2>
  <div class="content-body">
    <p>Coming soon!  Stay tuned at <a href="https://twitter.com/ArtyWidget">@ArtyWidget</a> or join <a href="http://eepurl.com/cYBkz5">the mailing list</a>.</p>
    <p>You can also get involved on <a href="https://github.com/pixfabrik/artywidget">GitHub</a>.</p>
    <p>Learn more and support this project at <a href="https://www.patreon.com/posts/introducing-arty-13670890">Patreon</a>.</p>
  </div>
  <div class="footer">Arty Widget &copy; 2017, <a href="http://pixfabrik.com" target="_blank">Pixfabrik, LLC</a></div>
</div>
