<div class="content">
</div>

<script id="home-page-template" type="text/template">
  <div class="content-frame">
    <h1>Arty Widget</h1>
    <h2>Collect, share, and present code-based art on the web.</h2>
    <div class="content-body">
      <p>Coming soon!  Stay tuned at <a href="https://twitter.com/ArtyWidget">@ArtyWidget</a> or join <a href="http://eepurl.com/cYBkz5">the mailing list</a>.</p>
      <p>You can also get involved on <a href="https://github.com/pixfabrik/artywidget">GitHub</a>.</p>
      <p>Learn more and support this project at <a href="https://www.patreon.com/posts/introducing-arty-13670890">Patreon</a>.</p>
    </div>
    <div class="footer">Arty Widget &copy; 2017, <a href="http://pixfabrik.com" target="_blank">Pixfabrik, LLC</a></div>
  </div>
</script>

<script id="artwork-page-template" type="text/template">
  <div class="page-content"></div>
</script>

<script id="artwork-page-content-template" type="text/template">
  <div class="artwork-display">
    <iframe class="artwork-iframe" src="<%- artwork.url %>"></iframe>
  </div>
  <div class="artwork-metadata">
    <div class="right"><a href="/">Arty Widget</a></div>
    <%- artwork.name %>
    <% if (artwork.authorName) { %>
      <% if (artwork.authorUrl) { %>
        by <a href="<%- artwork.authorUrl %>" target="_blank"><%- artwork.authorName %></a>
      <% } else { %>
        by <%- artwork.authorName %>
      <% } %>
    <% } %>
    (<a href="<%- artwork.url %>" target="_blank">original</a>)
  </div>
</script>

<script id="add-page-template" type="text/template">
  <div class="content-frame">
    <h1><a href="/">Arty Widget</a></h1>
    <p>Add a new artwork.</p>
    <form class="add-form general-form">
      <div class="row">
        <div class="prompt">Artwork Name:</div>
        <input type="text" name="artworkName" class="artworkName" autocorrect="off">
      </div>
      <div class="row">
        <div class="prompt">Artwork URL:</div>
        <input type="text" name="artworkUrl" class="artworkUrl" autocapitalize="off" autocorrect="off">
      </div>
      <div class="row">
        <div class="prompt">Author Name:</div>
        <input type="text" name="authorName" class="authorName" autocorrect="off">
      </div>
      <div class="row">
        <div class="prompt">Author URL:</div>
        <input type="text" name="authorUrl" class="authorUrl" autocapitalize="off" autocorrect="off">
      </div>
      <div class="error"></div>
      <div class="row">
        <button class="add-button">Add Artwork</button>
      </div>
    </form>
    <div class="footer"><a href="/">Arty Widget</a> &copy; 2017, <a href="http://pixfabrik.com" target="_blank">Pixfabrik, LLC</a></div>
  </div>
</script>

<script id="notfound-page-template" type="text/template">
  <div class="content-frame">
    <h1>404 Not Found</h1>
  </div>
</script>
