<div class="content">
</div>

<script id="signin-page-template" type="text/template">
  <h1><a href="/">Arty Widget</a></h1>
  <form class="login-form general-form">
    <div class="row">
      <div class="prompt">Username or Email:</div>
      <input type="text" name="username" class="username" autocapitalize="off" autocorrect="off">
    </div>
    <div class="row">
      <div class="prompt">Password:</div>
      <input type="password" class="password">
    </div>
    <div class="error"></div>
    <div class="row">
      <button class="login-button">Login</button>
    </div>
    <div class="row note">
      <a href="/signup">Sign up instead</a>
    </div>
  </form>
  <div class="footer"><a href="/">Arty Widget</a> &copy; 2017, <a href="http://pixfabrik.com" target="_blank">Pixfabrik, LLC</a></div>
</script>

<script id="signup-page-template" type="text/template">
  <h1><a href="/">Arty Widget</a></h1>
  <p>Sign up for an Arty Widget account so you can add and collect artworks.</p>
  <form class="login-form general-form">
    <div class="row">
      <div class="prompt">Username:</div>
      <input type="text" name="username" class="username" autocapitalize="off" autocorrect="off">
    </div>
    <div class="row">
      <div class="prompt">Email:</div>
      <input type="email" name="email" class="email">
    </div>
    <div class="row">
      <div class="prompt">Password:</div>
      <input type="password" class="password">
    </div>
    <div class="row">
      <div class="prompt">Confirm Password:</div>
      <input type="password" class="confirm-password">
    </div>
    <div class="error"></div>
    <div class="row">
      <button class="create-button">Create Account</button>
    </div>
    <div class="row note">
      <a href="/login">Login instead</a>
    </div>
  </form>
  <div class="footer"><a href="/">Arty Widget</a> &copy; 2017, <a href="http://pixfabrik.com" target="_blank">Pixfabrik, LLC</a></div>
</script>

<script id="settings-page-template" type="text/template">
  <h1><a href="/">Arty Widget</a></h1>
  <p>More settings to come in the future!</p>
  <p><a href="/">Back to Arty Widget</a></p>
  <div class="footer"><a href="/">Arty Widget</a> &copy; 2017, <a href="http://pixfabrik.com" target="_blank">Pixfabrik, LLC</a></div>
</script>

<script id="notfound-page-template" type="text/template">
  <h1>404 Not Found</h1>
</script>
