body {
  color: white;
  background-color: #333;
}

.home-page {
  background-color: #666;
  border-radius: 10px;
  padding: 30px;
  margin: 50px auto;
  width: 95%;
  max-width: 700px;
  text-align: center;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 18px;
  margin-bottom: 50px;
}

a {
  color: #bbb;
  text-decoration: none;
}

.content-body {
  text-align: left;
}

.footer {
  margin-top: 75px;
  font-size: 12px;
}
