.home-page {
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  .artwork-stub {
    margin: 20px 0 70px 0;
  }

  .artwork-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .artwork {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 33%;
    height: 350px;
    padding: 10px;

    .thumbnail {
      width: 100%;
      flex-grow: 1;
      background: center center;
      background-size: cover;
    }

    .title {
      margin: 5px 0;
    }
  }

  .content-body {
    text-align: left;
  }
}

.artwork-page {
  .page-content {
    display: flex;
    flex-direction: column;
  }

  .artwork-display {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
  }

  .artwork-iframe {
    position: absolute;
    border: none;
  }

  .artwork-metadata {
    display: flex;
    color: white;
    background: #444;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
    }

    .middle {
      flex-grow: 1;
      padding: 15px 10px;
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
    }
  }

  .arrow-button {
    width: 20px;
    height: 20px;
    background: center center no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .left-arrow {
    background-image: url(/static/img/home/left-arrow.svg);
  }

  .right-arrow {
    background-image: url(/static/img/home/right-arrow.svg);
  }
}

.add-page {
  .general-form {
    input {
      width: 100%;
    }
  }
}

.for-artwork-page {
  width: 100%;
  height: 100%;
  overflow: hidden;

  body,
  .content,
  .artwork-page,
  .page-content,
  .artwork-iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
